{%extends "base.html" %}

{% block content %}


<div class="page-head"> 
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Catalogue des articles</h1>               
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="properties-area recent-property" style="background-color: #FFF;">
        <div class="container">  
            <div class="row">
                 
            <div class="col-md-3 p0 padding-top-40">
                <div class="blog-asside-right pr0">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Recherche rapide</h3>
                        </div>
                        <div class="panel-body search-widget">
                           
                                {% load searchbar %}
                                {% default_searchbar %}
                        </div>
                    </div>

                    <!-- <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recommended</h3>
                        </div>
                        <div class="panel-body recent-property-widget">
                                    <ul>
                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                            <a href="single.html"><img src="assets/img/demo/small-property-2.jpg"></a>
                                            <span class="property-seeker">
                                                <b class="b-1">A</b>
                                                <b class="b-2">S</b>
                                            </span>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                            <h6> <a href="single.html">Super nice villa </a></h6>
                                            <span class="property-price">3000000$</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-3 col-sm-3  col-xs-3 blg-thumb p0">
                                            <a href="single.html"><img src="assets/img/demo/small-property-1.jpg"></a>
                                            <span class="property-seeker">
                                                <b class="b-1">A</b>
                                                <b class="b-2">S</b>
                                            </span>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                            <h6> <a href="single.html">Super nice villa </a></h6>
                                            <span class="property-price">3000000$</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                            <a href="single.html"><img src="assets/img/demo/small-property-3.jpg"></a>
                                            <span class="property-seeker">
                                                <b class="b-1">A</b>
                                                <b class="b-2">S</b>
                                            </span>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                            <h6> <a href="single.html">Super nice villa </a></h6>
                                            <span class="property-price">3000000$</span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                            <a href="single.html"><img src="assets/img/demo/small-property-2.jpg"></a>
                                            <span class="property-seeker">
                                                <b class="b-1">A</b>
                                                <b class="b-2">S</b>
                                            </span>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                            <h6> <a href="single.html">Super nice villa </a></h6>
                                            <span class="property-price">3000000$</span>
                                        </div>
                                    </li>

                                </ul>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-9  pr0 padding-top-40 properties-page">
                <div class="col-md-12 clear"> 
                    <div class="col-xs-10 page-subheader sorting pl0">
                        <ul class="sort-by-list">
                            <li class="active">
                                <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                    Par Date <i class="fa fa-sort-amount-asc"></i>					
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                    Par prix <i class="fa fa-sort-numeric-desc"></i>						
                                </a>
                            </li>
                        </ul><!--/ .sort-by-list-->

                        
                    </div>

                    <div class="col-xs-2 layout-switcher">
                        <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                        <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                    </div><!--/ .layout-switcher-->
                </div>

                <div class="col-md-12 clear"> 
                    <div id="list-type" class="proerty-th">
                       
                        {% load static %}
                            {%  for post in posts  %}
                            <div class="col-sm-6 col-md-4 p0">
                                <div class="box-two proerty-item">
                                    <div class="item-thumb">
                                        <a href="{% url 'detail' post.id post.slug %}" >
                                            <img src="static/{{post.links}}"></a>
                                    </div>

                                    <div class="item-entry overflow">
                                        <h5><a href="{% url 'detail' post.id post.slug %}"> {{post.name}} </a></h5>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left"><b> {{post.categorie}}</b> </span>
                                        <span class="proerty-price pull-right">{{post.price}} F</span>
                                        <p style="display: none;">{{post.content}}</p>
                                        <!-- <div class="property-icon">
                                            <img src="{% static 'assets/img/icon/bed.png' %}">(5)|
                                            <img src="{% static 'assets/img/icon/shawer.png' %}">(2)|
                                            <img src="{% static 'assets/img/icon/cars.png' %}">(1)  
                                        </div> -->
                                    </div> 
                                </div>
                            </div> 
                            {% endfor %}

                        
                    </div>
                </div>
                
                <div class="col-md-12"> 
                    <div class="pull-right">
                        <div class="pagination">
                            <ul>
                                {% if posts.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ posts.previous_page_number }}">Prev</a>
                                {% endif %}
                               
                                {% if posts.has_next %}
                                <a href="?page={{ posts.next_page_number }}">next</a>
                                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                            </ul>
                        </div>
                    </div>                
                </div>
            </div>  
            </div>              
        </div>
    </div>

{%endblock %}